.container {
  padding: 0rem 1.5rem;
  /* --container-height: ; */
  .menu_container {
    height: calc(92vh - 20px - 54px);
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #d2d2d2;
      border-radius: 0.25rem;
    }
  }

  .pdf_container {
    height: calc(90vh - 54px);
    width: 100%;
    /* overflow: auto; */
    overflow: hidden;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    border: 2px solid transparent;
    .float_tooltip, .scale_controller{
      position: absolute;
      right: 1rem;
      top: 1rem;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #b2b2b2;
      overflow: hidden;
      padding: .35rem .6rem;
      &:hover{
        border: 2px solid #222222;
      }
    }
    .pdf_document {
      width: 100%;
      background-color: transparent;
      .list_container{
        background-color: transparent;
        &::-webkit-scrollbar{
          width: 0.5rem;
          height: 0.5rem;
        }
        &::-webkit-scrollbar-thumb{
          background-color: #b2b2b2;
          border-radius: 0.25rem;
        }
      }
    }
    .scale_controller{
      left: 1rem;
      top: 1rem;
      width: 82px;
      border: 2px solid #222222;
    }

    .outline {
      display: none;
    }
  }
  .pddf_pages_si{
    /* border: 2px solid transparent; */
  }
  .pdf_container_selecting{
    /* border: 2px solid #222; */
    background-color: #b2b2b2;
    
    .pdf_page_selecting{
      border: 2px solid transparent;
      &:hover{
        border: 2px solid #222;
        /* box-shadow: 2px 6px 4px 0px #222; */
      }
    }
    
  }
  

}

.reader_progress {
  width: 80vw;
  position: absolute;
  bottom: 0rem;
  right: 10vw;
  left: 10vw;
}