.container {
  padding: 0rem 1.5rem;

  .menu_container {
    height: calc(92vh - 20px);
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pdf_container {
    height: 90vh;
    width: 100%;
    /* overflow: auto; */
    overflow: hidden;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    .float_tooltip{
      position: absolute;
      right: 1rem;
      top: 1rem;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #b2b2b2;
      overflow: hidden;
      padding: .35rem .6rem;
      &:hover{
        border: 2px solid #222222;
      }
    }
    .pdf_document {
      width: 100%;
      background-color: transparent;
      .list_container{
        background-color: transparent;
        &::-webkit-scrollbar{
          width: 0.5rem;
          height: 0.5rem;
        }
        &::-webkit-scrollbar-thumb{
          background-color: #b2b2b2;
          border-radius: 0.25rem;
        }
      }
    }

    .outline {
      display: none;
    }
  }


}

.reader_progress {
  width: 80vw;
  position: absolute;
  bottom: 0rem;
  right: 10vw;
  left: 10vw;
}