
.container {
  --content-max-height: calc(100vh - 38px);
  height:  calc(100vh - 38px);
  width: 100vw;
  &::-webkit-scrollbar {
    display: none;
  }
  .menuContainer{
    height: var(--content-max-height);
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .viewDrag {
    height: var(--content-max-height);
    width: 2px;
    position: absolute;
    z-index: 1;
    /* box-sizing: content-box; */
    background-color: rgba(0, 0, 0, 0.24);
    &::before {
      content: " ";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: black;
      position: relative;
      top: -12px;
      left: -5px;
    }
    &:hover {
      background-color: black;
      cursor: grab;
      width: 2px;
      /* border-right: 6px solid balck; */
    }
  }
  .reader{
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    .pageContainer{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items:center;
      flex-direction: column;
      background: transparent;
    }
    .pageDivider{
      height: 12px;
    }
    .canvasContainer{
      box-shadow: 0 0 4px 2px #e2e2e2;
      border-radius: 3px;
      overflow: hidden;
      &:focus{
        border: 1px solid #222;
      }
    }
    .textLayerContainer{
      position: relative;
    }
    .reader_tooltip{
      display: inline-flex;
      position: absolute;
      right: 11.85rem;
      top: 1rem;
      .page{
        /* background-color: #fff; */
        z-index: 1;
        width: 5.6rem;
      }
    }
    .toolbar{
      display: flex;
      justify-content: flex-end;
    }
    .tips{
      position: absolute;
      left: 1rem;
      z-index: 1;
      top: 0.75rem;
      color: #a2a2a2;
      font-size: 1rem;
    }
    .ocrLayer{
      
    }
  }
}
