:global(.book_item) {
  --var-book-width: 18rem;
  border: 2px solid transparent;
  height: calc(var(--var-book-width) * 1.41);
  width: var(--var-book-width);
  &:hover {
    border: 2px solid #222;
  }
}
.book_item_active {
  background-color: #fff9e8;
  border: 2px solid #222;
}
.container {
  overflow: auto;
  overflow-x: hidden;
  height: 82vh;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    border-radius: 0.25rem;
  }
}
.dragging{
  position: relative;
  z-index: 100;
}