:global(.book_item) {
  /* --var-book-width: 18rem; */
  /* border: 2px solid transparent; */
  height: 100%;
  width: 100%;
  /* width: var(--var-book-width); */
  overflow: hidden;
  &:hover {
    /* border: 2px solid #222; */
    box-shadow: 0px 0px 0px 2px #222;
  }
}
.book_item_active {
  background-color: #fff9e8;
  border: 2px solid #222;
}
.container {
  overflow: auto;
  overflow-x: hidden;
  height: calc(100vh - 160px);
  padding: 1rem 1rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    border-radius: 0.25rem;
  }
}
.dragging{
  position: relative;
  z-index: 100;
}