.main{
  padding: 0rem 1.5rem;
}
.content {
  width: cacl(100vw - 48px);

  height: calc(100vh - 2.3rem);
  padding: 4px 0px;
}
.upload_modal_container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  .upload_modal {
    border-radius: 16px;
    box-shadow: -20px 12px 16px 4px #e2e2e2;
    border: 0.3rem solid #222;
    pointer-events: none;
    background-color: #fff;
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.empty_content{
  color: #828282;
  font-size: 1.5rem;
}