.container {
    padding: 0rem 1.5rem;

    .toolbar {}
    .menu_container{
        height: calc(90vh - 20px);
        overflow: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .article {
        height: 90vh;
        width: 100%;

    }
}

.reader_progress {
    width: 80vw;
    position: absolute;
    bottom: 0rem;
    right: 10vw;
    left: 10vw;
}