.container {
    padding: 0.5rem 1.5rem 0rem;

    .toolbar {}
    .menu_container{
        height: calc(100vh - 20px - 6.7rem);
        overflow: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .article {
        height: calc(90vh - 54px);
        width: 100%;

    }
}

.reader_progress {
    width: 80vw;
    position: absolute;
    bottom: 0rem;
    right: 10vw;
    left: 10vw;
}
.img_container{
    overflow: hidden;
    background-color: rgba(0,0,0,0.42);
    box-sizing: border-box;
    width: 100vw;
    padding: 1rem 1.5rem;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}