.textLayer ::selection{
  background: #80aa51 !important;
}
body{
    &::-webkit-scrollbar{
        display: none;
    }
}
*{
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d2d2d2;
        border-radius: 0.25rem;
      }
}
/* 
黄色：

明亮的黄色：#FFD700 (金色)
柔和的黄色：#F9E79F (浅黄色)
鲜艳的黄色：#FFEB3B (亮黄色)
蓝色：

明亮的蓝色：#3498DB (亮蓝色)
深蓝色：#283593 (靛蓝色)
柔和的蓝色：#85C1E9 (浅蓝色)
绿色：

明亮的绿色：#2ECC71 (翠绿色)
深绿色：#196F3D (深绿色)
柔和的绿色：#A9DFBF (浅绿色)

明亮的红色：
名称：烈焰红
色号：#FF5733
描述：这是一种非常鲜艳且引人注目的红色，充满活力和热情，适合用于需要强烈视觉冲击的设计场合。
深红色：
名称：酒红色
色号：#C0392B
描述：这种颜色较为深沉，带有一定的成熟和优雅气息，适合用于商务、高端产品的设计中，能够传递一种稳重和内敛的美感。
柔和的红色：
名称：珊瑚红
色号：#F1948A
描述：这是一种较为柔和的红色，温暖而不刺眼，适合用于背景、渐变等需要营造轻松愉悦氛围的设计场合。
*/