body{
    &::-webkit-scrollbar{
        display: none;
    }
}
*{
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d2d2d2;
        border-radius: 0.25rem;
      }
}
/* 
黄色：

明亮的黄色：#FFD700 (金色)
柔和的黄色：#F9E79F (浅黄色)
鲜艳的黄色：#FFEB3B (亮黄色)
蓝色：

明亮的蓝色：#3498DB (亮蓝色)
深蓝色：#283593 (靛蓝色)
柔和的蓝色：#85C1E9 (浅蓝色)
绿色：

明亮的绿色：#2ECC71 (翠绿色)
深绿色：#196F3D (深绿色)
柔和的绿色：#A9DFBF (浅绿色)
*/